.add-todo-button {
  position: fixed;
  /* 화면에 고정된 위치에 배치 */
  right: -5px;
  /* 오른쪽에서 5px만큼 떨어진 위치에 배치 */
  bottom: 0;
  /* 하단에 배치 */
  z-index: 100;
  /* 다른 요소들보다 위에 위치 */
  width: 100;
  /* 가로 길이 100px */
  height: 100;
  /* 세로 길이 100px */
  cursor: pointer;
  /* 마우스 커서 모양을 손가락 모양으로 변경 */
  font-size: 5rem;
  /* 폰트 크기 5rem */
  color: #f67280;
  /* 글자 색상을 밝은 분홍색으로 지정 */
}